body{
    background-color: lightblue;
}

.poem{
    border-style: solid;
    border-color: red;
    box-sizing: content-box;
}
.comic{
    border-style: solid;
    border-color: green;
    box-sizing: content-box;
}
